<div class="add-question">
  <h2>Your Question:</h2>
  <form action="/questions" method="post">
      <textarea rows="10" cols="50" id="question" name="question"><%=@question_text%></textarea>
    <input type="submit" value="Post Your Question">
  </form>
</div>
