<form action="/comments/<%=@comment.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  comment: <textarea name="comment" cols="50" rows="10"><%=@comment.comment%></textarea>
  <input type="submit" value="update comment">
</form>