/*body{
  padding:70px;
}*/

nav{
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}

.nav-button{
  display: inline-block;
  margin: 0px 30px;
  padding:10px;
}

menu{
  text-align: right;
  padding: 50px;
}

.menu-button{
  display: inline-block;
}

.question-container{
  padding:30px;
}

h1, h2{
  padding: 20px 30px;
}

.user_profile_link{
  width:150px;
  display:inline-block;
  border: 2px black;
  margin:10px;
}

a{
  text-decoration: none;
  color:grey;
}

a:hover{
  color:blue;
}

#user-activity-container a{
  color: blue;
}


#users{
  width:70%;
}