<div id="users">
  <h2>Users</h2>
  <%@users.each do |user|%>
    <div class="user_profile_link">
      <a href="users/<%=user.id%>"><div class="user"><%=user.username%></div></a>
      <div><p>Member since: <%=user.created_at.strftime('%F')%></p></div>
    </div>
    <%end%>
  </div>
 
