<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Stack Overflow</title>
</head>
<body>
  <div id="layout">
    <nav class="my_nav">
      <%if login?%>
         <div class="nav-button"><a href="/users/logout">Logout</a></div>
         <div id="current-user"><a href="/users/<%=current_user.id%>"><%=current_user.username%></div>
      <%else%>
        <div id="login_button" class="nav-button"><a href="/users/login">Login</a></div>
        <div class="nav-button"><a href="/users/new">Register</a></div>
        <div id="login"></div>
        <form class="search_button"  action="http://stackoverflow.com/" method="get">
 <input type="text" placeholder="Search Q&A" required>
 <input type="button" value="Search">
</form>
      <%end%>
    </nav>
   <menu>
    <div class="menu_button">
    <button type="button"> <a href='/questions'>Questions</a></button>
    <button type="button"> <a href='/tags'>Tags</a></button>
    <button type="button"> <a href='/users'>Users</a></button>
    <button type="button"> <a href='/questions/new'>Ask A Question</a></button>
    </div>
  </menu>
  <h1><img src="https://imageshack.com/i/poRLjCdDj" alt="Mountain View"<img></h1>
  <%=yield%>
</body>
</html>
